.background-container{
    position: relative;
    text-align: center;

    @include mobile {
        
      }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
        // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        // font-weight: 900;
    }
    
    .centered h1{
        color: white;
    }

    img {
        width: 1400px;
        height: 550px;
        max-width: 100%;
        opacity: 0.8;
        object-fit: cover;
    }

    .image-location {
        display: flex;
        position: absolute;
        bottom: 0px;
        left: 0px;
        color: $white;
        margin-left: 1em;
        margin-bottom: 1em;
        width: 10%;

        &:hover p{
            opacity: 1;
            // left: 200px;
            transform: translateX(3%);
        }
    }

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.9em;
        font-weight: 600;
        color: $white;
        margin-top: 0.1em;
        margin-left: 0.5em;
        // left: 50%;
        opacity: 0;
        transform: translateX(20%);
        transition: right 1s, transform 1s;
    }
}